---

---
<footer class="bg-primary font-bold py-8">
    <section class="mx-auto max-w-primary">
        <article class="md:grid md:grid-cols-5">
            <section class="sm:grid sm:grid-cols-3 col-span-3">
                <div>
                    <h4 class="text-2xl text-white mb-4">Shop:</h4>
                    <ul class="text-sm text-secondary">
                        <li>Search</li>
                        <li>All Collectiions</li>
                        <li>All Products</li>
                        <li>My Cart</li>
                    </ul>
                </div>
                <div>
                    <h4 class="text-2xl text-white mb-4">Account:</h4>
                    <ul class="text-sm text-secondary">
                        <li>About Us</li>
                        <li>Contact With us</li>
                        <li>Faqs</li>
                        <li>Private Policy</li>
                        <li>Shipping & Delivery</li>
                        <li>Terms & Conditions</li>
                    </ul>
                </div>
                <div>
                    <h4 class="text-2xl text-white mb-4">Call:</h4>
                    <h4 class="text-lg text-white mb-4">+27 123-456-789</h4>
                    <div class="flex gap-2 text-sm items-center">
                        <div>
                            <p class="text-secondary">Share:</p>
                        </div>
                        <div class="w-6 h-6 rounded-full bg-white flex justify-center items-center">
                            Y
                        </div>
                        <div class="w-6 h-6 rounded-full bg-white flex justify-center items-center">
                            T
                        </div>
                        <div class="w-6 h-6 rounded-full bg-white flex justify-center items-center">
                            G
                        </div>
                    </div>
                </div>
            </section>
            <section class="md:col-span-2">
                <div class="text-sm text-secondary">
                    <h4 class="text-2xl text-white mb-4">Newsletter:</h4>
                    <p class="font-normal">Check the airline facilities while you plan to come to India for your medical treatment.</p>
                    <div class="mt-4 p-2 rounded-full border-2 border-secondary">
                        <form class="flex justify-between">
                            <input class="bg-primary text-secondary pl-3" type="text" placeholder="Enter email address...">
                            <button class="bg-secondary px-4 py-1 text-primary rounded-full">Subscribe</button>
                        </form>
                    </div>
                </div>
            </section>
        </article>
        <div class="text-sm font-normal border-t border-secondary text-secondary mt-8 pt-4 flex justify-between">
            <p>© 2024, Clinics</p>
            <ul class="flex gap-3">
                <li>Faq</li>
                <li>Privacy and Policy</li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
</footer>