---
import InfiniteCarousel from "./infinite_carousel.astro";
---

<header class="bg-primary text-sm font-semibold relative md:static px-2">
    <section class="border-b border-secondary pt-2 text-secondary">
        <div class="max-w-primary mx-auto mb-2 font-medium hidden md:block">
            <div class="flex justify-between">
                <p>Subscribe to our newsletter and receive a 10% discount on your first service.</p>
                <ul class="flex gap-4">
                    <li>Policy Privacy</li>
                    <li>About Us</li>
                    <li>FAQ's</li>
                </ul>
            </div>
        </div>

        <!-- navigation bar -->
        <div class="flex justify-between max-w-primary mx-auto w-full items-center mb-2">
            <div class="font-black text-xl md:text-2xl w-20">Clinics-hospitals</div>
            <nav class="w-3/6 hidden md:block">
                <ul class="flex pl-8 gap-8">
                    <li>All Products</li>
                    <li>Pages</li>
                    <li>Blog</li>
                    <li>All Collections</li>
                </ul>
            </nav>
            <!-- <div class="md:hidden h-screen absolute opacity-50 w-full top-0 right-0 bg-black">
            </div>
            <nav class="absolute top-0 w-full max-w-[400px] z-10 bg-white h-full right-0 text-primary text-lg font-medium md:hidden">
                <div class="h-12 bg-primary"></div>
                <ul class="p-4">
                    <li>All Products</li>
                    <li>Pages</li>
                    <li>Blog</li>
                    <li>All Collections</li>
                    <li>Contact Us</li>
                    <li>About Us</li>
                </ul>
            </nav> -->
            <div class="w-2/6 flex gap-4 items-center justify-end">
                <p>P</p>
                <p>G</p>
                <p>USD</p>
                <div class="md:text-primary md:bg-secondary h-12 p-4 flex items-center justify-center">
                    <div class="hidden md:block">My Cart</div>
                    <div class="md:hidden text-secondary">C</div>
                </div>
                <div class="md:hidden">
                    <span class="w-7 h-1 bg-secondary block mb-1"></span>
                    <span class="w-7 h-1 bg-secondary block mb-1"></span>
                    <span class="w-7 h-1 bg-secondary block"></span>
                </div>
            </div>
        </div>
    </section>
    

    <!-- search section -->
    <section class="max-w-primary mx-auto text-secondary py-8">
        <div class="md:grid md:grid-cols-2">
            <article class="cols-span-1 flex flex-col justify-center pr-4 mb-8">
                <h4 class="mb-3">Hospital</h4>
                <h2 class="text-2xl md:text-[50px] font-normal mb-6 leading-[44px]"><span class="font-black">Hospital and clinical care</span> in the world</h2>
                <p class="font-normal mb-6">A clinic is a health care facility that provides outpatient services. Outpatient services are those that do not require an overnight stay.</p>
                
                <div class="bg-white text-primary w-full lg:h-[68px] lg:w-[765px] lg:relative">
                    <form class="lg:flex lg:absolute px-2 top-0 z-50 lg:w-[750px]">
                        <div class="lg:w-2/3 pt-2 lg:border-r border-primary">
                            <label for="product_type" class="block mb-2 lg:mb-0 ">Types of products:</label>
                            <input type="text" class="block border rounded-full w-full p-2 border-primary mb-4 lg:border-none lg:focus:outline-none" placeholder="Search Product...">
                        </div>
                        <div class="lg:w-1/3 pl-2">
                            <label for="category" class="block mb-2 lg:mb-0 pt-2">Category:</label>
                            <div class="flex justify-between mb-2">
                                <select id="services" class="bg-white block">
                                    <option value="all_collections">All Collections</option>
                                    <option value="ambulance_stretcher">Ambulance Stretcher</option>
                                    <option value="collections">Collections</option>
                                    <option value="parthology_equipment">Parthology Equipment</option>
                                    <option value="rollater_seat">Rollater With Seat</option>
                                    <option value="stair_stretcher">Stair Stretcher</option>
                                </select>
                                <button class="w-10 h-10 bg-primary text-secondary ml-2 block">S</button>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
            <article>
                <div class="h-[600px] bg-black cols-span-1">

                </div>
            </article>
        </div>
    </section>

    <!-- partners section -->
    <section class="max-w-primary mx-auto pt-6 pb-12 text-secondary font-semibold">
        <h4 class="md:pl-6 md:text-left text-center mb-8">Our Partners:</h4>
        <!-- <div class="flex justify-between mt-8">
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
        </div> -->
        <InfiniteCarousel/>
    </section>

</header>