---

---

<header class="bg-primary text-sm font-semibold">
    <section class="border-b border-secondary pt-2 text-secondary">
        <div class="max-w-primary mx-auto mb-2">
            <div class="flex justify-between">
                <p>Subscribe to our newsletter and receive a 10% discount on your first service.</p>
                <ul class="flex gap-4">
                    <li>Policy Privacy</li>
                    <li>About Us</li>
                    <li>FAQ's</li>
                </ul>
            </div>
        </div>
        <div class="flex max-w-primary mx-auto w-full items-center mb-2">
            <div class="font-black text-2xl w-1/6">Clinics-hospitals</div>
            <nav class="w-3/6">
                <ul class="flex gap-4">
                    <li>All Products</li>
                    <li>Pages</li>
                    <li>Blog</li>
                    <li>All Collections</li>
                </ul>
            </nav>
            <div class="w-2/6 flex gap-4 items-center justify-end">
                <p>P</p>
                <p>G</p>
                <p>USD</p>
                <div class="text-primary bg-secondary h-12 w-20 flex items-center justify-center">
                    <div>My Cart</div>
                </div>
            </div>
        </div>
    </section>
    <!-- search section -->
    <section class="max-w-primary mx-auto text-secondary py-8">
        <div class="md:grid md:grid-cols-2">
            <article class="cols-span-1 flex flex-col justify-center">
                <h4 class="mb-3">Hospital</h4>
                <h2 class="text-5xl font-normal mb-6"><span class="font-black">Hospital and clinical care</span> in the world</h2>
                <p class="font-normal mb-6">A clinic is a health care facility that provides outpatient services. Outpatient services are those that do not require an overnight stay.</p>
                <div class="bg-white text-primary px-2">
                    <form class="flex relative">
                        <div class="w-3/5 border-r border-primary">
                            <label for="product_type">Types of products:</label>
                            <input type="text" class="block" placeholder="Search Product...">
                        </div>
                        <div class="w-3/5 pl-2 absolute right-1">
                            <label for="category">Category:</label>
                            <select id="services" class="block bg-white">
                                <option value="all_collections">All Collections</option>
                                <option value="ambulance_stretcher">Ambulance Stretcher</option>
                                <option value="collections">Collections</option>
                                <option value="parthology_equipment">Parthology Equipment</option>
                                <option value="rollater_seat">Rollater With Seat</option>
                                <option value="stair_stretcher">Stair Stretcher</option>
                              </select>
                              <button class="w-10 h-10 bg-primary text-secondary ml-2">S</button>
                        </div>
                    </form>
                </div>
            </article>
            <article>
                <div class="h-[600px] bg-black cols-span-1">

                </div>
            </article>
        </div>
    </section>

    <!-- partners section -->
    <section class="max-w-primary mx-auto pt-6 pb-12 text-secondary font-semibold">
        <h4 class="pl-6">Our Partners:</h4>
        <div class="flex justify-between mt-8">
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
            <div class="w-28 h-14 bg-black">P</div>
        </div>
    </section>

</header>